:root {
  --loading-grey: #ededed;
}

.App {
  text-align: center;
}
header {
  height: 100px;
}
.Flex-box {
  display: flex;
}
.Flex-center {
  flex-grow: 1;
}
.Flex-left {
  order: -1;
  flex: 0 0 100px;
}
.Flex-right {
  flex: 0 0 100px;
}
footer {
  height: 100px;
}

@media screen and (max-width: 300px) {
  .Flex-left {
    display: none;
  }
  .Flex-right {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .Flex-left {
    flex: 0 0 100px;
  }
  .Flex-right {
    flex: 0 0 100px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .Flex-left {
    display: none;
  }
  .Flex-right {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .Flex-left {
    flex: 0 0 50px;
  }
  .Flex-right {
    flex: 0 0 50px;
  }
}